@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/***************/
/*** Project ***/
/***************/
body {
  background-color: #f00;
}

body {
  margin: 0;
  color: #010101;
  font-family: "open_sansregular", sans-serif;
  font-weight: 100;
  font-variant: normal;
  font-size: 14px;
  line-height: 18px;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 3% 3%;
}

p {
  text-align: justify;
}

p.quotes:before {
  content: "« ";
}
p.quotes:after {
  content: " »";
}

h1 {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
  font-family: "open_sanssemibold", "open_sansregular", sans-serif;
}
h1:after {
  content: " ";
  height: 0;
  width: 0;
  display: block;
  width: 50px;
  height: 2px;
  margin: 8px auto 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 30px;
  font-family: "open_sanssemibold", "open_sansregular", sans-serif;
}

p.button,
.button {
  text-align: center;
  display: inherit;
}
p.button a,
.button a {
  padding: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 30px 0;
  text-transform: uppercase;
}

#simpleLogo {
  background-image: url("../images/simpleLogo_white.svg");
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 160px;
  display: inline-block;
  cursor: pointer;
}

/*****************************/
/*** Style depend of theme ***/
/*****************************/
/*************/
/*** Theme ***/
/*************/
#container.transmedia header {
  background: #eb005e;
}
#container.transmedia header nav {
  background: #eb005e;
}
#container.transmedia .testimony,
#container.transmedia .team,
#container.transmedia .offerProject {
  background-color: #f9f7f0;
}
#container.transmedia .testimony:after,
#container.transmedia .team:after,
#container.transmedia .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.transmedia .characteristic,
#container.transmedia .principalTestimony {
  background-color: #ededed;
}
#container.transmedia .characteristic:after,
#container.transmedia .principalTestimony:after {
  border-top-color: #ededed;
}
#container.transmedia .characteristic .content > article {
  border-bottom: 1px solid #eb005e;
}
#container.transmedia .characteristic .content > article div.on {
  background-color: #eb005e;
}
#container.transmedia .centered,
#container.transmedia .vote {
  background-color: white;
}
#container.transmedia .centered:after,
#container.transmedia .vote:after {
  border-top-color: white;
}
#container.transmedia .video,
#container.transmedia header {
  background-color: #eb005e;
  color: white;
}
#container.transmedia .video:after,
#container.transmedia header:after {
  border-top-color: #eb005e;
}
#container.transmedia .button a {
  background: #eb005e;
}
#container.transmedia h1 {
  color: #eb005e;
}
#container.transmedia h1:after {
  background: #eb005e;
}
#container.transmedia footer a.active {
  color: #eb005e;
}
#container.shortstalk header {
  background: #766454;
}
#container.shortstalk header nav {
  background: #766454;
}
#container.shortstalk .testimony,
#container.shortstalk .team,
#container.shortstalk .offerProject {
  background-color: #f9f7f0;
}
#container.shortstalk .testimony:after,
#container.shortstalk .team:after,
#container.shortstalk .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.shortstalk .characteristic,
#container.shortstalk .principalTestimony {
  background-color: #ededed;
}
#container.shortstalk .characteristic:after,
#container.shortstalk .principalTestimony:after {
  border-top-color: #ededed;
}
#container.shortstalk .characteristic .content > article {
  border-bottom: 1px solid #766454;
}
#container.shortstalk .characteristic .content > article div.on {
  background-color: #766454;
}
#container.shortstalk .centered,
#container.shortstalk .vote {
  background-color: white;
}
#container.shortstalk .centered:after,
#container.shortstalk .vote:after {
  border-top-color: white;
}
#container.shortstalk .video,
#container.shortstalk header {
  background-color: #766454;
  color: white;
}
#container.shortstalk .video:after,
#container.shortstalk header:after {
  border-top-color: #766454;
}
#container.shortstalk .button a {
  background: #766454;
}
#container.shortstalk h1 {
  color: #766454;
}
#container.shortstalk h1:after {
  background: #766454;
}
#container.shortstalk footer a.active {
  color: #766454;
}
#container.tedx header {
  background: #ff2b06;
}
#container.tedx header nav {
  background: #ff2b06;
}
#container.tedx .testimony,
#container.tedx .team,
#container.tedx .offerProject {
  background-color: #f9f7f0;
}
#container.tedx .testimony:after,
#container.tedx .team:after,
#container.tedx .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.tedx .characteristic,
#container.tedx .principalTestimony {
  background-color: #ededed;
}
#container.tedx .characteristic:after,
#container.tedx .principalTestimony:after {
  border-top-color: #ededed;
}
#container.tedx .characteristic .content > article {
  border-bottom: 1px solid #ff2b06;
}
#container.tedx .characteristic .content > article div.on {
  background-color: #ff2b06;
}
#container.tedx .centered,
#container.tedx .vote {
  background-color: white;
}
#container.tedx .centered:after,
#container.tedx .vote:after {
  border-top-color: white;
}
#container.tedx .video,
#container.tedx header {
  background-color: #ff2b06;
  color: white;
}
#container.tedx .video:after,
#container.tedx header:after {
  border-top-color: #ff2b06;
}
#container.tedx .button a {
  background: #ff2b06;
}
#container.tedx h1 {
  color: #ff2b06;
}
#container.tedx h1:after {
  background: #ff2b06;
}
#container.tedx footer a.active {
  color: #ff2b06;
}
#container.cinemalingua header {
  background: #1b6834;
}
#container.cinemalingua header nav {
  background: #1b6834;
}
#container.cinemalingua .testimony,
#container.cinemalingua .team,
#container.cinemalingua .offerProject {
  background-color: #f9f7f0;
}
#container.cinemalingua .testimony:after,
#container.cinemalingua .team:after,
#container.cinemalingua .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.cinemalingua .characteristic,
#container.cinemalingua .principalTestimony {
  background-color: #ededed;
}
#container.cinemalingua .characteristic:after,
#container.cinemalingua .principalTestimony:after {
  border-top-color: #ededed;
}
#container.cinemalingua .characteristic .content > article {
  border-bottom: 1px solid #1b6834;
}
#container.cinemalingua .characteristic .content > article div.on {
  background-color: #1b6834;
}
#container.cinemalingua .centered,
#container.cinemalingua .vote {
  background-color: white;
}
#container.cinemalingua .centered:after,
#container.cinemalingua .vote:after {
  border-top-color: white;
}
#container.cinemalingua .video,
#container.cinemalingua header {
  background-color: #1b6834;
  color: white;
}
#container.cinemalingua .video:after,
#container.cinemalingua header:after {
  border-top-color: #1b6834;
}
#container.cinemalingua .button a {
  background: #1b6834;
}
#container.cinemalingua h1 {
  color: #1b6834;
}
#container.cinemalingua h1:after {
  background: #1b6834;
}
#container.cinemalingua footer a.active {
  color: #1b6834;
}
#container.radiocomem header {
  background: #007da4;
}
#container.radiocomem header nav {
  background: #007da4;
}
#container.radiocomem .testimony,
#container.radiocomem .team,
#container.radiocomem .offerProject {
  background-color: #f9f7f0;
}
#container.radiocomem .testimony:after,
#container.radiocomem .team:after,
#container.radiocomem .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.radiocomem .characteristic,
#container.radiocomem .principalTestimony {
  background-color: #ededed;
}
#container.radiocomem .characteristic:after,
#container.radiocomem .principalTestimony:after {
  border-top-color: #ededed;
}
#container.radiocomem .characteristic .content > article {
  border-bottom: 1px solid #007da4;
}
#container.radiocomem .characteristic .content > article div.on {
  background-color: #007da4;
}
#container.radiocomem .centered,
#container.radiocomem .vote {
  background-color: white;
}
#container.radiocomem .centered:after,
#container.radiocomem .vote:after {
  border-top-color: white;
}
#container.radiocomem .video,
#container.radiocomem header {
  background-color: #007da4;
  color: white;
}
#container.radiocomem .video:after,
#container.radiocomem header:after {
  border-top-color: #007da4;
}
#container.radiocomem .button a {
  background: #007da4;
}
#container.radiocomem h1 {
  color: #007da4;
}
#container.radiocomem h1:after {
  background: #007da4;
}
#container.radiocomem footer a.active {
  color: #007da4;
}
#container.seminaire header {
  background: #336699;
}
#container.seminaire header nav {
  background: #336699;
}
#container.seminaire .testimony,
#container.seminaire .team,
#container.seminaire .offerProject {
  background-color: #f9f7f0;
}
#container.seminaire .testimony:after,
#container.seminaire .team:after,
#container.seminaire .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.seminaire .characteristic,
#container.seminaire .principalTestimony {
  background-color: #ededed;
}
#container.seminaire .characteristic:after,
#container.seminaire .principalTestimony:after {
  border-top-color: #ededed;
}
#container.seminaire .characteristic .content > article {
  border-bottom: 1px solid #336699;
}
#container.seminaire .characteristic .content > article div.on {
  background-color: #336699;
}
#container.seminaire .centered,
#container.seminaire .vote {
  background-color: white;
}
#container.seminaire .centered:after,
#container.seminaire .vote:after {
  border-top-color: white;
}
#container.seminaire .video,
#container.seminaire header {
  background-color: #336699;
  color: white;
}
#container.seminaire .video:after,
#container.seminaire header:after {
  border-top-color: #336699;
}
#container.seminaire .button a {
  background: #336699;
}
#container.seminaire h1 {
  color: #336699;
}
#container.seminaire h1:after {
  background: #336699;
}
#container.seminaire footer a.active {
  color: #336699;
}
#container.paleo header {
  background: #3a2159;
}
#container.paleo header nav {
  background: #3a2159;
}
#container.paleo .testimony,
#container.paleo .team,
#container.paleo .offerProject {
  background-color: #f9f7f0;
}
#container.paleo .testimony:after,
#container.paleo .team:after,
#container.paleo .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.paleo .characteristic,
#container.paleo .principalTestimony {
  background-color: #ededed;
}
#container.paleo .characteristic:after,
#container.paleo .principalTestimony:after {
  border-top-color: #ededed;
}
#container.paleo .characteristic .content > article {
  border-bottom: 1px solid #3a2159;
}
#container.paleo .characteristic .content > article div.on {
  background-color: #3a2159;
}
#container.paleo .centered,
#container.paleo .vote {
  background-color: white;
}
#container.paleo .centered:after,
#container.paleo .vote:after {
  border-top-color: white;
}
#container.paleo .video,
#container.paleo header {
  background-color: #3a2159;
  color: white;
}
#container.paleo .video:after,
#container.paleo header:after {
  border-top-color: #3a2159;
}
#container.paleo .button a {
  background: #3a2159;
}
#container.paleo h1 {
  color: #3a2159;
}
#container.paleo h1:after {
  background: #3a2159;
}
#container.paleo footer a.active {
  color: #3a2159;
}
#container.newsroom header {
  background: #652d2a;
}
#container.newsroom header nav {
  background: #652d2a;
}
#container.newsroom .testimony,
#container.newsroom .team,
#container.newsroom .offerProject {
  background-color: #f9f7f0;
}
#container.newsroom .testimony:after,
#container.newsroom .team:after,
#container.newsroom .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.newsroom .characteristic,
#container.newsroom .principalTestimony {
  background-color: #ededed;
}
#container.newsroom .characteristic:after,
#container.newsroom .principalTestimony:after {
  border-top-color: #ededed;
}
#container.newsroom .characteristic .content > article {
  border-bottom: 1px solid #652d2a;
}
#container.newsroom .characteristic .content > article div.on {
  background-color: #652d2a;
}
#container.newsroom .centered,
#container.newsroom .vote {
  background-color: white;
}
#container.newsroom .centered:after,
#container.newsroom .vote:after {
  border-top-color: white;
}
#container.newsroom .video,
#container.newsroom header {
  background-color: #652d2a;
  color: white;
}
#container.newsroom .video:after,
#container.newsroom header:after {
  border-top-color: #652d2a;
}
#container.newsroom .button a {
  background: #652d2a;
}
#container.newsroom h1 {
  color: #652d2a;
}
#container.newsroom h1:after {
  background: #652d2a;
}
#container.newsroom footer a.active {
  color: #652d2a;
}
#container.stuttgart header {
  background: #ab280f;
}
#container.stuttgart header nav {
  background: #ab280f;
}
#container.stuttgart .testimony,
#container.stuttgart .team,
#container.stuttgart .offerProject {
  background-color: #f9f7f0;
}
#container.stuttgart .testimony:after,
#container.stuttgart .team:after,
#container.stuttgart .offerProject:after {
  border-top-color: #f9f7f0;
}
#container.stuttgart .characteristic,
#container.stuttgart .principalTestimony {
  background-color: #ededed;
}
#container.stuttgart .characteristic:after,
#container.stuttgart .principalTestimony:after {
  border-top-color: #ededed;
}
#container.stuttgart .characteristic .content > article {
  border-bottom: 1px solid #ab280f;
}
#container.stuttgart .characteristic .content > article div.on {
  background-color: #ab280f;
}
#container.stuttgart .centered,
#container.stuttgart .vote {
  background-color: white;
}
#container.stuttgart .centered:after,
#container.stuttgart .vote:after {
  border-top-color: white;
}
#container.stuttgart .video,
#container.stuttgart header {
  background-color: #ab280f;
  color: white;
}
#container.stuttgart .video:after,
#container.stuttgart header:after {
  border-top-color: #ab280f;
}
#container.stuttgart .button a {
  background: #ab280f;
}
#container.stuttgart h1 {
  color: #ab280f;
}
#container.stuttgart h1:after {
  background: #ab280f;
}
#container.stuttgart footer a.active {
  color: #ab280f;
}

/**************/
/*** Header ***/
/**************/
header {
  color: white;
}
header #burger {
  display: none;
  cursor: pointer;
}
header .content {
  padding: 10px;
}
header .content nav {
  display: inline-block;
  margin: 20px 0;
  float: right;
  font-family: "open_sanssemibold", "open_sansregular", sans-serif;
}
header .content nav ul li {
  display: inline-block;
}
header .content nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
header .content nav ul li a.active:after {
  content: "";
}
@media screen and (max-width: 1200px) {
  header .content nav {
    margin-right: 45px;
  }
  header .content .logo {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 500px) {
  header {
    height: 55px;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
  header .content {
    padding: 0;
    height: 55px;
  }
  header .content #burger {
    display: block;
    position: absolute;
    right: 5px;
    height: 55px;
    width: 55px;
    background-image: url("../images/burger.svg");
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1000;
  }
  header .content nav {
    display: none;
    position: absolute;
    top: 55px;
    width: 100%;
    margin: 0;
    z-index: 900;
  }
  header .content nav ul li {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    font-family: "open_sansregular", sans-serif;
    font-size: 1.3em;
  }
  header .content .logo {
    height: 55px;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    z-index: 1000;
    position: absolute;
  }
}

/****************/
/*** Sections ***/
/****************/
#container {
  /*************/
  /*** Video ***/
  /*************/
  /****************/
  /*** Centered ***/
  /****************/
  /*****************/
  /*** Testimony ***/
  /*****************/
  /**********************/
  /*** Characteristic ***/
  /**********************/
  /************/
  /*** Team ***/
  /************/
  /***************************/
  /*** Principal testimony ***/
  /***************************/
  /************/
  /*** Vote ***/
  /************/
  /*********************/
  /*** Offer project ***/
  /*********************/
  /**************/
  /*** Footer ***/
  /**************/
}
#container > article:after {
  margin: 0 auto;
  display: block;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-top-color: white;
  border-width: 16px;
  position: absolute;
  left: 49%;
}
@media screen and (max-width: 1080px) {
  #container > article:after {
    left: 48%;
  }
}
@media screen and (max-width: 800px) {
  #container > article:after {
    left: 47%;
  }
}
@media screen and (max-width: 440px) {
  #container > article:after {
    left: 46%;
  }
}
#container .video {
  margin-top: -70px;
}
#container .video #left,
#container .video #right {
  display: block;
  width: 30px;
  height: 50px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
}
#container .video #left {
  background-image: url("../images/arrow_left.svg");
  left: 5%;
}
#container .video #right {
  background-image: url("../images/arrow_right.svg");
  right: 5%;
}
@media screen and (max-width: 1200px) {
  #container .video .player {
    margin: 0 30px;
  }
  #container .video h1 {
    margin-right: 30px;
  }
}
@media screen and (max-width: 500px) {
  #container .video .player {
    margin: 0;
  }
  #container .video .content {
    padding-left: 0;
    padding-right: 0;
  }
  #container .video #left,
  #container .video #right {
    display: none;
  }
}
#container .video .content {
  padding-top: 10px;
}
#container .video .content h1 {
  color: white;
  text-align: right;
  font-size: 2em;
  padding: 0 0 20px;
}
#container .video .content h1:after {
  background: none;
}
@media only screen and (max-width: 500px) {
  #container .video {
    margin-top: 0;
    background-color: white !important;
    margin-bottom: -30px;
  }
  #container .video:after {
    display: none;
  }
  #container .video .content {
    padding: 0 0 0px;
  }
  #container .video .content h1 {
    background: white;
    color: #010101;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
#container .centered p {
  max-width: 800px;
  margin: 5px auto;
}
#container .testimony .left,
#container .principalTestimony .left {
  width: 30%;
  display: inline-block;
  padding-bottom: 20px;
}
#container .testimony .left img,
#container .principalTestimony .left img {
  width: 100%;
}
#container .testimony .left.smaller,
#container .principalTestimony .left.smaller {
  float: left;
}
#container .testimony .right,
#container .principalTestimony .right {
  width: 60%;
  display: inline-block;
  margin: 0 5%;
  bottom: 0;
  float: right;
}
#container .testimony .right h2,
#container .principalTestimony .right h2 {
  text-align: left;
  padding: 0 0 10px;
}
#container .testimony .right .button,
#container .principalTestimony .right .button {
  float: left;
}
#container .testimony .right.bigger,
#container .principalTestimony .right.bigger {
  float: none;
}
#container .testimony .right.bigger .button,
#container .principalTestimony .right.bigger .button {
  float: none;
}
@media screen and (max-width: 500px) {
  #container .testimony .left,
  #container .principalTestimony .left {
    display: block;
    width: 100%;
    float: none;
  }
  #container .testimony .right,
  #container .principalTestimony .right {
    display: block;
    width: 100%;
    margin: 0;
    float: none;
  }
  #container .testimony .right .button,
  #container .principalTestimony .right .button {
    float: none;
  }
}
#container .characteristic article {
  cursor: pointer;
  overflow: auto;
}
#container .characteristic article h1 {
  text-align: left;
  padding-left: 0;
  display: inline-block;
}
#container .characteristic article h1:after {
  display: none;
}
#container .characteristic article section.points {
  float: right;
  display: inline-block;
}
#container .characteristic article section.points div {
  display: inline-block;
  margin: 20px 10px;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  background-color: #010101;
}
@media only screen and (max-width: 500px) {
  #container .characteristic article section.points {
    float: none;
    display: block;
  }
  #container .characteristic article section.points div {
    margin: 0px 20px 15px 0px;
  }
}
#container .characteristic article section.details {
  display: none;
}
#container .characteristic article section.details h1 {
  font-size: 1.1em;
  color: #010101;
  font-family: "open_sansbold", "open_sansregular", sans-serif;
  padding: 0;
}
#container .characteristic article section.details ul li {
  font-size: 0.9em;
}
#container .characteristic article section.details .left,
#container .characteristic article section.details .right {
  display: inline-block;
  width: 49%;
  float: left;
  margin-bottom: 20px;
}
#container .team a {
  width: 15%;
  margin: 0.83%;
  display: inline-block;
}
#container .team a img {
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  #container .team a {
    width: 18.4%;
    margin: 0.8%;
  }
}
@media screen and (max-width: 850px) {
  #container .team a {
    width: 23%;
    margin: 0.8%;
  }
}
@media screen and (max-width: 670px) {
  #container .team a {
    width: 30.5%;
    margin: 1.415%;
  }
}
@media screen and (max-width: 500px) {
  #container .team a {
    width: 46%;
    margin: 2%;
  }
}
#container .principalTestimony .left {
  width: 20%;
}
#container .principalTestimony .right {
  width: 70%;
}
@media screen and (max-width: 500px) {
  #container .principalTestimony .left {
    width: 50%;
    margin: 0 auto;
    float: none !important;
    display: block;
    position: relative;
  }
  #container .principalTestimony .right {
    width: 100%;
    display: block;
    position: relative;
  }
}
#container .vote p {
  max-width: 800px;
  margin: 5px auto;
}
#container .offerProject p {
  max-width: 800px;
  margin: 5px auto;
}
#container footer {
  font-family: "open_sanssemibold", "open_sansregular", sans-serif;
  font-size: 1.3em;
}
#container footer .top {
  padding: 10px 0;
  margin: 0 auto;
}
#container footer .top nav {
  display: inline-block;
}
#container footer .top nav ul li {
  display: inline-block;
}
#container footer .top nav ul li a {
  color: #010101;
  text-decoration: none;
  padding-right: 7px;
}
#container footer .top nav ul li:after {
  content: "|";
}
#container footer .top nav ul li:last-child:after {
  content: "";
}
#container footer .top .copyright {
  display: inline-block;
  float: right;
}
#container footer .bottom {
  padding: 10px 0;
  margin: 20px auto 0;
}
#container footer .bottom .school {
  display: inline-block;
  font-size: 1.15em;
  text-transform: uppercase;
  font-family: "open_sansregular", sans-serif;
  padding-top: 20px;
}
#container footer .bottom .school a {
  text-decoration: none;
  color: #010101;
}
#container footer .bottom .social {
  display: inline-block;
  float: right;
}
#container footer .bottom .social a {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-left: 5px;
}
@media only screen and (max-width: 640px) {
  #container footer .top nav,
  #container footer .top .copyright,
  #container footer .bottom .social,
  #container footer .bottom .school {
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px 0;
    float: none;
  }
  #container footer .top,
  #container footer .bottom {
    margin: 0;
    padding: 0;
  }
}
