
$black: #010101;
$white: #FFFFFF;
$gray: #EDEDED;

/***************/
/*** Project ***/
/***************/

$lightColor: #F9F7F0;

// Transmedia
$lightTransmedia: $lightColor;
$darkTransmedia: #eb005e;

// Shortstalk
$lightShortstalk: $lightColor;
$darkShortstalk: #766454;

// Tedx
$lightTedx: $lightColor;
$darkTedx: #FF2B06;

// Cinemalingua
$lightCinemalingua: $lightColor;
$darkCinemalingua: #12A925;

// Radiocomem
$lightRadiocomem: $lightColor;
$darkRadiocomem: #007DA4;

// Seminaire
$lightSeminaire: $lightColor;
$darkSeminaire: #336699;

// Paleo
$lightPaleo: $lightColor;
$darkPaleo: #8123AD;

// Newsroom
$lightNewsroom: $lightColor;
$darkNewsroom: #652D2A;

// Stuttgart
$lightStuttgart: $lightColor;
$darkStuttgart: #AB280F;