@import 'reset';
@import 'fonts';
@import 'color';
@import 'functions';
@import 'home';

$pageWidth: 1024px;

body {
    margin: 0;
    color: $black;
    font-family: $font-regular;
    font-weight: 100;
    font-variant: normal;
    font-size: 14px;
    line-height: 18px;
}

.content {
    max-width: $pageWidth;
    margin: 0 auto;
    padding: 40px 3% 40px;
    z-index: 100;
}

p {
    text-align: justify;
    padding-bottom: 10px;
}

p.quotes {
    &:before {
        content: "« ";
    }
    
    &:after {
        content: " »";
    }
}

h1 {
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    font-family: $font-semi-bold;
    line-height: 1.2em;
    
    &:after {
        content: " ";
        height: 0;
        width: 0;
        display: block;
        width: 50px;
        height: 2px;
        margin: 8px auto 0;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    padding: 30px;
    font-family: $font-semi-bold;
}

p.button,
.button {
    text-align: center;
    display: inherit;
    
    a {
        padding: 10px;
        text-decoration: none;
        color: $white !important;
        display: inline-block;
        margin: 30px 0;
        text-transform: uppercase;
    }
}

#simpleLogo {
    background-image: url('../images/simpleLogo_white.svg');
}

.logo {
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 160px;
    display: inline-block;
    cursor: pointer;
}


/*****************************/
/*** Style depend of theme ***/
/*****************************/
@mixin content($darkColor, $lightColor) {
    
    p a {
        color: $darkColor;
    }
    
    header {
        background: $darkColor;
        
        nav {
            background: $darkColor;
            
            ul li ul li {
            
                a {
                    color: $darkColor;
                }
                
                &:after {
                    background: $darkColor;
                }
            }
        }
    }
    
    footer {
        .top nav {
            ul li ul {
                &:after {
                    border-top-color: $darkColor;
                }
                
                li {
                    background: $darkColor;
                    
                    a {
                        color: $white;
                    }
                    
                    &:after {
                        background: $white;
                    }
                }
            }
        }
    }
    
    .testimony,
    .team,
    .offerProject,
    .my_projects {
        background-color: $lightColor;
        
        &:after {
            border-top-color: $lightColor !important;
        }
    }
    
    .characteristic,
    .principalTestimony,
    .print {
        background-color: $gray;
        
        &:after {
            border-top-color: $gray !important;
        }
    }
    
    .characteristic {
    
        .content > article {
            border-bottom: 1px solid $darkColor;
            
            div.on {
                background-color: $darkColor;
            }
        }
    }
    
    
    
    .centered,
    .vote,
    .profil_desc,
    .contact_me {
        background-color: $white;
        
        &:after {
            border-top-color: $white !important;
        }
    }
    
    
    .video,
    header,
    .title {
        background-color: $darkColor;
        color: $white;
        
        &:after {
            border-top-color: $darkColor !important;
        }
    }
    
    .video {
        @media only screen and (max-width: 500px) {
            .content h1 {
                color: $darkColor;
                margin-right: 0;    
                padding: 15px 0;
            }
        }
    }
    
    .button a {
        background: $darkColor;
    }
    
    h1 {
        color: $darkColor;
        
        &:after {
            background: $darkColor;
        }
    }
    
    footer {
        a.active {
            color: $darkColor;
        }
    }
    
    article:last-of-type {
        
        &.print,
        &.contact_me,
        &.my_projects,
        &.profil_desc {
            background-color: $gray;
            
            &:after {
                border-top-color: $gray;
            }
        }
    }
    
    #project_bottom ul {
        li {
            background: $darkColor;
        }
        
        &:after {
            border-top-color: $darkColor;
        }
    }
    
}


/*************/
/*** Theme ***/
/*************/
#container {
    
    @include content($darkTransmedia, $lightTransmedia);
    
    // Transmedia
    &.eb005e-2014 {
        @include content($darkTransmedia, $lightTransmedia);
        
        #simpleLogo {
            background-image: url('../images/logoTransmedia.svg');
        }
    }
    
    // Shortstalk
    &.short-stalk-2013 {
        @include content($darkShortstalk, $lightShortstalk);
    }
    
    // Tedx
    &.tedxlausanne-2013 {
        @include content($darkTedx, $lightTedx);
    }
    
    // Cinemalingua
    &.cinema-lingua-2011 {
        @include content($darkCinemalingua, $lightCinemalingua);
    }
    
    // Radiocomem
    &.radio-comem-2012 {
        @include content($darkRadiocomem, $lightRadiocomem);
    }
    
    // Seminaire
    &.seminaire-entreprise-2014 {
        @include content($darkSeminaire, $lightSeminaire);
    }
    
    // Paleo
    &.paleo-2013 {
        @include content($darkPaleo, $lightPaleo);
    }
    
    // Newsroom
    &.precarite-2014 {
        @include content($darkNewsroom, $lightNewsroom);
    }
    
    // Stuttgart
    &.workshop-hdm-2013 {
        @include content($darkStuttgart, $lightStuttgart);
    }
}


/***************/
/*** Coulure ***/
/***************/
#coulure {
    width: 100%;
    display: block;
    z-index: -100;
    
    .left,
    .right {
        position: absolute;
        display: block;
        height: 0px;
        width: 0px;
    }
    
    .left {
        background-image: url('../images/coulureLeft.svg');
        background-repeat: no-repeat;
        background-position: right top;
        left: 0;
    }
    
    .right {
        background-image: url('../images/coulureRight.svg');
        background-repeat: no-repeat;
        background-position: left top;
        right: 0;
    }
}


/*********************/
/*** Projects menu ***/
/*********************/
#project,
#project_bottom {
    ul {
        position: absolute;
        display: none;
        padding-top: 20px;
        margin-left: -28px;
        
        &:before {
            display: block;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: $white;
            border-width: 16px;
            margin-top: -30px;
            margin-left: 10px;
            margin-left: 40px;
        }
        
        li {
            display: block;
            background: $white;
            padding: 0 5px;
            
            a {
                color: $black;
                display: block;
                margin-left: 15px;
                margin-right: 15px;
                padding: 10px 10px 10px 0;
            }
            
            &:after {
                content: " ";
                width: 70px;
                height: 2px;
                background: $black;
                display: block;
                margin-left: 15px;
            }
            
            &:first-of-type {
                padding-top: 10px;
            }
            
            &:last-of-type {
                padding-bottom: 10px;
                
                &:after {
                    display: none;
                }
            }
            
        }
    }

}

/****************************/
/*** Footer Projects menu ***/
/****************************/
footer {
    nav {
        position: absolute;
        
        ul {
            
            li {
            
                &#project_bottom ul {
                    display: none;
                    position:absolute;
                    bottom: 100%;
                    margin-left: -40px;
                    
                    &:before {
                        display: none;
                    }
                    
                    &:after {
                        margin-left: 50px;
                        display: block;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        pointer-events: none;
                        border-color: transparent;
                        border-top-color: $white;
                        position: relative;
                        border-width: 16px;
                    }
                    
                    li {
                        
                    }
                }
            }
        }
    }
    
    
}


/*******************************/
/*** Project link for mobile ***/
/*******************************/
@media only screen and (max-width: 640px) {
    ul li ul li a {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 100;
        
        &.eb005e-2014 {
            background-image: url('../images/transmedia.svg');
        }
        
        &.cinema-lingua-2011 {
            background-image: url('../images/cinemalingua.svg');
        }
        
        &.workshop-hdm-2013 {
            background-image: url('../images/stuttgart.svg');
        }
        
        &.precarite-2014 {
            background-image: url('../images/newsroom.svg');
        }
        
        &.paleo-2013 {
            background-image: url('../images/paleo.svg');
        }
        
        &.radio-comem-2012 {
            background-image: url('../images/radio.svg');
        }
        
        &.seminaire-entreprise-2014 {
            background-image: url('../images/seminaire.svg');
        }
        
        &.short-stalk-2013 {
            background-image: url('../images/stalker.svg');
        }
        
        &.tedxlausanne-2013 {
            background-image: url('../images/tedx.svg');
        }
    
    }
}


/***********************************/
/*** Footer projects menu mobile ***/
/***********************************/
#container footer {
    @media only screen and (max-width: 640px) {
    
        .content {
            padding: 40px 2%;
        }
    
        .top nav {
            position: relative;
            
            ul {
                li {
                    &#project_bottom ul {
                        width: 100%;
                        left: 0;
                        margin-left: 0;
                        display: none;
                        background: transparent;
                        
                        li {
                            
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                            width: 10%;
                            height: 50px;
                            padding-left: 1%;
                            margin-bottom: -4px;
                            
                            &:first-of-type {
                                border-radius: 10px 0 0 10px;
                            }
                            
                            &:last-of-type {
                                border-radius: 0 10px 10px 0;
                                padding-right: 1%;
                            }
                            
                            a {
                                padding: 0;
                                margin: 0;
                            }
                            
                            &:after {
                                display: none;
                            }
                        }
                        
                        &:after {
                            margin: 0;
                            left: 35%;
                            margin-bottom: -20px;
                        }
                    }
                }
            }
        }
    }
}


/**************/
/*** Header ***/
/**************/
header {
    color: $white;
    
    #burger {
        display: none;
        cursor: pointer;
    }
    
    .content {
        padding: 10px;
        
        nav {
            display: inline-block;
            margin: 20px 0;
            float: right;
            font-family: $font-semi-bold;
            
            ul li {
                display: inline-block;
                cursor: pointer;
                
                &#project {
                    padding-right: 15px;
                    background-image: url('../images/arrow_down.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: right center;
                }
                
                a {
                    color: $white;
                    text-decoration: none;
                    padding: 5px;
                }
                
                a.active:after {
                    content: "";
                }
                
            }
        }
    }
    
    @media screen and (max-width: 1200px) {
        
        &.has_a_video {
            .content {
                nav {
                    margin-right: 45px;
                }
                
                .logo {
                    margin-left: 35px;
                }
            }
        }
        
    }
    
    @media only screen and (max-width: 500px) {
    	height: 55px;
    	width: 100%;
    	z-index: 1000;
    	top: 0;
    	
    	&.has_a_video {
    	    .content {
            	.logo {
                    margin-left: 5px;
                }
            }
    	}
    	
    	.content {
        	padding: 0;
        	height: 55px;
        	
        	#burger {
            	display: block;
            	position: absolute;
            	right: 5px;
            	height: 55px;
            	width: 55px;
            	background-image: url('../images/burger.svg');
            	top: 0;
            	background-repeat: no-repeat;
            	background-position: center center;
            	background-size: contain;
            	z-index: 1000;
        	}
        	
        	nav {
            	//display: none;
            	position: absolute;
            	top: 55px;
            	width: 100%;
            	margin: 0;
            	z-index: 900;
            	display: none;
            	
            	ul li {
                	line-height: 30px;
                	padding-top: 10px;
                	padding-bottom: 10px;
                	display: block;
                	text-align: center;
                	font-family: $font-regular;
                	font-size: 1.3em;
                	
                	&#project {
                    	background: none;
                    	padding-right: 0;
                	}
                	
                	&#project ul {
                	    display: block;
                	    position: relative;
                	    margin: 0;
                	    padding: 0;
                	    padding-top: 5px;
                	    
                	    &:before {
                    	    display: none;
                	    }
                	    
                    	li {
                        	display: inline-block;
                        	background: transparent;
                        	width: 10%;
                        	height: 50px;
                        	padding: 0;
                        	margin: 0;
                        	padding-left: 1%;
                        	
                        	a {
                            	margin: 0;
                            	padding: 0;
                        	}
                        	
                        	&:after {
                            	display: none;
                        	}
                    	}
                	}
            	}
        	}
        	
        	.logo {
            	height: 55px;
            	margin: 0;
            	margin-left: 5px;
            	padding: 0;
            	z-index: 1000;
            	position: absolute;
        	}
    	}
    }
}

/****************/
/*** Sections ***/
/****************/
#container {

    & > article,
    & #content > article {
        &:after {
            margin: 0 auto;
            display: block;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: transparent;
            border-top-color: $white;
            border-width: 16px;
            position: absolute;
            left: 49%;
        }
        
        @media screen and (max-width: 1080px) {
            &:after {
                left: 48%;
            }
        }
        
        @media screen and (max-width: 800px) {
            &:after {
                left: 47%;
            }
        }
        
        @media screen and (max-width: 440px) {
            &:after {
                left: 46%;
            }
        }
    }
    
    
    /***************/
    /*** Profils ***/
    /***************/
    .profils {
        
        .content {
            overflow: auto;
        }
        
        a {
            width: 30%;
            margin-right: 5%;
            display: inline-block;
            padding-top: 20px;
            color: $white;
            text-decoration: none;
            float: left;
            
            &:nth-child(3n + 1) {
                margin-right: 0;
            }
            
            img {
                width: 100%;
            }
            
            span {
                display: block;
                padding: 5px;
                text-align: center;
                font-family: $font-light;
                text-transform: uppercase;
                
                &:after {
                    content: " ";
                    display: block;
                    width: 50px;
                    height: 1px;
                    margin: 8px auto 0;
                    background: $white;
                }
            }
        }
        
        @media screen and (max-width: 500px) {
            a {
                width: 44%;
                margin-left: 4%;
                margin-right: 0;
                
                &:nth-child(2n - 1) {
                    margin-right: 4%;
                }
            }
        }
        
    }
    
    
    /**************/
    /*** Profil ***/
    /**************/
    .profil {
        img {
            margin: 0 auto;
            display: block;
            margin-top: 20px;
            width: 100%;
            max-width: 400px;
        }
        
        h2 {
            text-transform: uppercase;
            font-size: 1.3em;
            text-align: center;
            padding: 20px;
            font-family: $font-semi-bold;
            
            &:after {
                content: " ";
                height: 0;
                width: 0;
                display: block;
                width: 50px;
                height: 2px;
                margin: 8px auto 0;
                background: $white;
            }
        }
    }
    
    
    /*********************/
    /*** Profil detail ***/
    /*********************/
    .profil_desc,
    .my_projects,
    .contact_me,
    .print {
    
        .content {
            max-width: 800px;
            margin: 0 auto;
            
            ul li {
                text-align: center;
                padding: 5px;
                
                a {
                    color: $darkTransmedia;
                    text-decoration: none;
                    
                }
            }
            
            a.print {
                width: 50px;
                height: 50px;
                display: block;
                margin: 0 auto;
                background-image: url('../images/print.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        
    }
    

    /*************/
    /*** Video ***/
    /*************/
    .video {
        
        #left,
        #right {
            display: block;
            width: 30px;
            height: 50px;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 50%;
        }
        
        #left {
            background-image: url('../images/arrow_left.svg');
            left: 5%;
            
        }
        
        #right {
            background-image: url('../images/arrow_right.svg');
            right: 5%;
        }
        
        @media screen and (max-width: 1200px) {
            .player {
                margin: 0 30px;
            }
            
            h1 {
                margin-right: 30px;
            }
        }
        
        
        
        .content {
            padding-top: 10px;
            
            h1 {
                color: $white;
                text-align: right;
                font-size: 2em;
                padding: 0 0 20px;
                
                &:after {
                    background: none;
                }
            }
        }
        
        @media screen and (max-width: 500px) {
        	margin-bottom: -30px;
        	
        	&:after {
            	display: none !important;
        	}
        	
            
            background-color: $white !important;
            
            .player {
                margin: 0;
            }
            
            .content {
                padding-left: 0;
                padding-right: 0;
                
                h1 {
                    text-align: center;
                }
            }
            
            #left,
            #right {
                display: none;
            }
        }
        
        
    }
    
    
    /****************/
    /*** Centered ***/
    /****************/
    .centered {
        
        p {
            max-width: 800px;
            margin: 5px auto;
        }
    }
    
    /************/
    /*** Info ***/
    /************/
    .info {
        overflow: auto;
        
        .left {
            width: 30%;
            display: inline-block;
            float: left;
            
            h2 {
                text-align: left;
                padding: 0;
                padding-bottom: 5px;
                font-family: $font-bold;
            }
            
            a {
                padding-top: 10px;
                display: block;
                color: $white;
                
            }
        }
        
        .right {
            width: 70%;
            display: inline-block;
        }
        
        @media screen and (max-width: 500px) {
            
            .left {
                margin-top: 20px;
            }
            
            .left,
            .right {
                float: none;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    
    
    /*************/
    /*** Offer ***/
    /*************/
    .offer {
        overflow: auto;
        
        input,
        textarea,
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin-bottom: 20px;
            border: 1px solid $white;
            background: $white;
            box-shadow: 0;
            outline: none;
            border-radius: 0;
            color: $black;
            padding: 5px;
            font-size: 1.2em;
            font-family: $font-light;
            margin-top: 5px;
            
        }
        
        select {
            box-sizing: content-box;
            background-image: url('../images/select.svg');
            background-position: right center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            text-indent: 0.01px;
            text-overflow: '';
        }
        
        textarea {
            width: 97%;
            height: 250px;
        }
        
        .left {
            width: 50%;
            display: inline-block;
            float: left;
            
            input,
            select {
                width: 50%;
                min-width: 200px;
            }
        }
        
        .right {
            width: 50%;
            display: inline-block;
            
            input[type=submit] {
                color: $black;
                background: $white;
                float: right;
                cursor: pointer;
            }
        }
        
        @media screen and (max-width: 500px) {
        
            form {
                padding: 5%;
                
                .left,
                .right {
                    width: 100%;
                    display: block;
                    float: none;
                    
                    input,
                    select {
                        width: 98%;
                        padding-left: 1%;
                        padding-right: 1%;
                        display: block;
                        margin-bottom: 5px;
                    }
                    
                    input[type=submit] {
                        float: none;
                    }
                }
                
                .right {
                    margin-top: 20px;
                }
            }
        }
    }
    
    
    /*****************/
    /*** Testimony ***/
    /*****************/
    .testimony,
    .principalTestimony {
        
        
        .content {
            overflow: auto;
        }
        
        div {
            display: block;
            float: left;
        }
        
        .left {
            width: 30%;
            display: inline-block;
            padding-bottom: 20px;
            
            img {
                width: 100%;
            }
            
            &.smaller {
                float: left;
            }
        }
        
        .right {
            width: 59%;
            display: inline-block;
            margin: 0 5%;
            bottom: 0;
            float: right;
            
            h2 {
                text-align: left;
                padding: 0 0 10px;
            }
            
            .button {
                float: left;
            }
            
            &.bigger {
                float: none;
                
                .button {
                    float: none;
                }
            }
            
            
        }
        
        @media screen and (max-width: 500px) {
            .left {
                display: block;
                width: 100%;
                float: none;
            }
            
            .right {
                display: block;
                width: 100%;
                margin: 0;
                float: none;
                
                .button {
                    float: none;
                }
            }
        }
    }
    
    
    /**********************/
    /*** Characteristic ***/
    /**********************/
    .characteristic {
        
        .content {
            overflow: auto;
        }
        
        article {
            cursor: pointer;
            
            h1 {
                text-align: left;
                padding-left: 0;
                display: inline-block;
                
                &:after {
                    display: none;
                }  
            }
            
            section.points {
                float: right;
                display: inline-block;
                
                div {
                    display: inline-block;
                    margin: 20px 10px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50px;
                    background-color: $black;
                }
            }   
            
            @media only screen and (max-width: 500px) {
                section.points {
                    float: none;
                    display: block;
                    
                    div {
                        margin: 0px 20px 15px 0px;
                    }
                }
            }
            
            section.details {
                display: none;
                overflow: auto;
                
                h1 {
                    font-size: 1.1em;
                    color: $black;
                    font-family: $font-bold;
                    padding: 0;
                }
                
                ul li {
                    font-size: 0.9em;
                }
                
                .left,
                .right {
                    display: inline-block;
                    width: 49%;
                    float: left;
                    margin-bottom: 20px;
                }
            }
        }
        
    }
    
    
    /************/
    /*** Team ***/
    /************/
    .team {
        
        a {
            width: 15%;
            margin: 0.83%;
            display: inline-block;
            
            img {
                width: 100%;
                margin: 0;
            }
        }
        
        @media screen and (max-width: 1024px) {
            a {
                width: 18.4%;
                margin: 0.8%;
            }
        }
        
        @media screen and (max-width: 850px) {
            a {
                width: 23%;
                margin: 0.8%;
            }
        }
        
        @media screen and (max-width: 670px) {
            a {
                width: 30.5%;
                margin: 1.415%;
            }
        }
        
        @media screen and (max-width: 500px) {
            a {
                width: 46%;
                margin: 2%;
            }
        }
        
    }
    
    
    /***************************/
    /*** Principal testimony ***/
    /***************************/
    .principalTestimony {
        .left {
            width: 20%;
        }
        
        .right {
            width: 69%;
        }
        
        @media screen and (max-width: 500px) {
            .left {
                width: 50%;
                margin: 0 auto;
                float: none !important;
                display: block;
                position: relative;
            }
            
            .right {
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }
    
    
    /***********/
    /*** Map ***/
    /***********/
    .map {
        background-image: url('../images/map.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        z-index: -10;
        
        section {
            display: block;
            width: 96%;
            position: fixed;
            bottom: 0;
            padding: 2%;
            background: rgba(255,255,255,0.8);
        }
        
        &:after {
            display: none;
        }
    }
    
    /************/
    /*** Vote ***/
    /************/
    .vote {
        p {
            max-width: 800px;
            margin: 5px auto;
        }
    }
    
    
    /*********************/
    /*** Offer project ***/
    /*********************/
    .offerProject {
        p {
            max-width: 800px;
            margin: 5px auto;
        }
    }
    
    
    /*************/
    /*** Title ***/
    /*************/
    .title {
        margin-top: -70px;
        
        .content {
            padding-top: 10px;
            
            h1 {
                color: $white;
                text-align: right;
                font-size: 2em;
                padding: 0 0 20px;
                
                &:after {
                    background: none;
                }
            }
        }
        
        @media only screen and (max-width: 500px) {
        	margin-top: 0;
        	
        	.content {
            	padding: 0 0 0px;
            	
            	h1 {
                	background: $white;
                	color: $black;
                	text-align: center;
                	width: 100%;
                	padding-top: 20px;
                	padding-bottom: 15px;
            	}
        	}
        }
    }
    
    
    /**************/
    /*** Footer ***/
    /**************/
    footer {
        font-family: $font-semi-bold;
        font-size: 1.3em;
        
        
        .top {
            padding: 10px 0;
            margin: 0 auto;
            
            nav {
                display: inline-block;
                
                #project_bottom > a {
                    padding-right: 25px;
                    background-image: url('../images/arrow_down_black.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: right center;
                }
                
                ul li {
                    display: inline-block;
                    
                    a {
                        color: $black;
                        text-decoration: none;
                        padding-right: 7px;
                        cursor: pointer;
                    }
                    
                    ul {
                        li {
                            display: block;
                            &:after {
                                content: " ";
                            }
                        }
                    }
                    
                    &:after {
                        content: "|";
                    }
                }
                
                ul li:last-child {
                    &:after {
                        content: "";
                    }
                }
                
                
            }
            
            .copyright {
                display: inline-block;
                float: right;
            }
        }
        
        .bottom {
            padding: 10px 0;
            margin: 20px auto 0;
            
            .school {
                display: inline-block;
                font-size: 1.15em;
                text-transform: uppercase;
                font-family: $font-regular;
                padding-top: 20px;
                
                a {
                    text-decoration: none;
                    color: $black;
                }
            }
            
            .social {
                display: inline-block;
                float: right;
                
                a {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    padding-left: 5px;
                }
            }
        }
        
        @media only screen and (max-width: 500px) {
            .top nav ul li a {
                margin-right: 0;
                padding-right: 0;
            }
        }
        
        @media only screen and (max-width: 640px) {
            .top nav,
            .top .copyright,
            .bottom .social,
            .bottom .school {
                width: 100%;
                text-align: center;
                display: block;
                padding: 10px 0;
                float: none;
                position: relative;
            }
            
            ul li ul li a {
                text-align: left;
            }
            
            .top,
            .bottom {
                margin: 0;
                padding: 0;
            }
        }
    } 

}







